<h1>Editing bug post</h1>

<%= render 'form' %>

<%= link_to 'Show', [@bug_post.bug_list.project, @bug_post.bug_list,@bug_post] %> |
<%= link_to 'Back', [@bug_post.bug_list.project, @bug_post.bug_list] %>
