// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bug_posts
{
  padding-left: 20px;
}

.overriden
{
  background-color: #EEE;
}

pre {
  font-size: 13px;
  background-color: white;   
}

